<div class="flex justify-around border-b ">
        <div class="flex items-center capitalize"><%=category.name%></div>
        <div class="flex items-center capitalize ml-auto"><%=category.icon%></div>
        <%=link_to "Edit",edit_product_category_path(category.id),data:{turbo_frame:"_top"},class:"bg-blue-400 rounded text-white m-2 p-2 hover:bg-blue-600 ml-auto "%>
        <%=link_to "Delete",product_category_path(category.id),data:{turbo_method: :delete,turbo_confirm: "Are you sure?"},class:"bg-red-400 rounded text-white m-2 p-2 hover:bg-red-600  "%>
    </div>