<%=turbo_stream_from "category"%>
<div class="w-[70%] mx-auto">
    <div>
        <h1 class="text-5xl text-[#f25c54] font-semibold my-4">Product categories</h1>
    </div>
    <%=render "shared/add_category"%>
    <%=turbo_frame_tag "category" do%>
        <%@categories.each do |category| %>
            <%=render "shared/category_name",category:category%>
        <%end%>
    <%end%>
</div>