<div class="w-full py-4 min-h-[calc(100vh_-_68px)] flex justify-center items-center ">
  <div class=" w-[60%]">
    <h2 class="text-3xl font-semibold text-center text-[#2e2e2e] mb-6">Add Category</h2>
<%=turbo_frame_tag "add-product" do%>
    <%=render "shared/category",category:@category%>

<%end%>
</div>
</div>>
