<div class="w-full py-4 min-h-[calc(100vh_-_68px)] flex justify-center items-center ">
  <div class=" w-[60%]">
    <%=turbo_frame_tag "add_product" do%>
    <h2 class="text-3xl font-semibold text-center text-[#2e2e2e] mb-6">Add Product</h2>
        <%=render "shared/product_form", product: @product%>
    <%end%>
  </div>
</div>